@model IReadOnlyList<Tomeshelf.Web.Models.Mcm.McmEventConfigModel>

@if (Model is null || (Model.Count == 0))
{
    <li>
        <span class="dropdown-item-text text-muted">No events available</span>
    </li>
}
else
{
    foreach (var item in Model)
    {
        <li>
            <a class="dropdown-item" asp-controller="ComicCon" asp-action="Index" asp-route-eventId="@item.Id" asp-route-eventName="@item.Name">@item.Name</a>
        </li>
    }
}

<li>
    <hr class="dropdown-divider"/>
</li>
<li>
    <a class="dropdown-item" asp-controller="ComicCon" asp-action="Config">
        <i class="bi bi-gear me-1" aria-hidden="true"></i>Manage events
    </a>
</li>
